<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="PiConnectionString" value="data source=TEMPSQLSERVERVM\SQLEXPRESS;initial catalog=PIEMView;persist security info=True;user id=dataservice;password=dataservice" />
		<add key="PiDemoConnectionString" value="data source=TEMPSQLSERVERVM\SQLEXPRESS;initial catalog=EMDEMO;persist security info=True;user id=dataservice;password=dataservice" />
		<add key="ClientId" value="062ae76c-c482-44ce-8386-a57a258af0d1" />
		<add key="ClientSecret" value="4fa2ad8e-a88e-44c9-a80a-66b9d0a16214" />
		<add key="ClientCode" value="24f7968e-33f7-4dd2-8ad7-266effc8708f" />
		<add key="BaseAddress" value="https://my.wirelesstag.net" />
		<add key="AuthApiSubAddress" value="/oauth2/access_token.aspx" />
	</appSettings>
</configuration>