<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PiConnectionString" value="Data Source=RAVINDRAC-LAPTO\SQLEXPRESS;Initial Catalog=TESTCASE2;Integrated Security=True" />
    <add key="ClientId" value="1e9fa349-968f-404b-853a-78e210e903fc" />
    <add key="ClientSecret" value="4d8ae1d9-d21e-4cc2-b464-37ee8a10bc60" />
    <add key="ClientCode" value="dee724ca-49f7-4b61-bf96-85079792496d" />
  </appSettings>
</configuration>