<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="PiConnectionString" value="Data Source=RAVINDRAC-LAPTO\SQLEXPRESS;Initial Catalog=TESTCASE2;Integrated Security=True" />
   
  <add key="ClientId" value="13026038-d34c-4831-8e3d-e7220277c9c5" />
    <add key="ClientSecret" value="3d9946b3-7832-415b-9886-845fe9ef7d59" />
    <add key="ClientCode" value="4584bf44-5735-4361-b92d-2b95389b0978" />
    <add key="BaseAddress" value="https://my.wirelesstag.net" />
    <add key="AuthApiSubAddress" value="/oauth2/access_token.aspx" />
    
    
    <add key="UFLApiUsername" value="sysgainiot\pibainterface" />
    <add key="UFLApiPassword" value="Password@1234" />
    
    <add key="IsPosterService" value="true" />
    <add key="UFLApiAddress" value="https://PIAFSQLServer:5460/connectordata/Wireless%20Tags%20Sensor/" />
    
    
  
  </appSettings>
</configuration>